body {
  background-color: lightgrey;

}


@media screen and (min-width: 40em) {
	
	body {
    background-color: green;
  }
  .stories{
    display: grid;
  grid-template-columns: 1fr 1fr;
	}

}
@media screen and (min-width: 60em) {
  body { background-color: yellow;
    }
    .stories{
      grid-template-columns: 1fr 1fr 1fr;
    }
}

.stories {
 text-align: center; 
 overflow:hidden;
 margin: 0 1em;
 padding:0 1em;
 
}
.news {
  background-color: black;
  margin: 0 1em;
  text-align: left;
  padding:0 1em;
  box-shadow:0.3em 0.5em 0.3em 0.3em black; 
  opacity:0.5;
  
  
}
.news-img {
  border:0.5em;
  border-radius: 0.5em;
  max-width: 80%;
 
}
/*
.heading-and-para{
   display: inline-block;
   padding: 0 1em; } */
 
.heading{
  font-family: sans-serif;
}
.paragraph{
  font-family: serif;
  color: #fff;
}
.button{
  border:none;
  /* display:inline-block; */
  color:#fff!important;
  background-color:red!important;
}

.lastlink{
  
  list-style-type:none; 
  margin-left:-1em;
}
.lastlink li { 
  display:inline;
  overflow: hidden;     
  padding-right:-1em;;
}

  .lastlink li a{
  color:black;
}

.active{
  color: rgb(255, 0, 0)!important;
}
  .headingh1{
text-align: center;

}
