body {
  background-color: lightgrey;
}
.stories {
 text-align: center; 
}
.news {
  background-color: black;
  display: inline-block;
  overflow: hidden;
  max-width: 30em;
  margin: 0 1em;
  text-align: left;
  padding:0 1em;
  box-shadow:0.3em 0.5em 0.3em 0.3em black; 
  opacity:0.5;
}
 /* .news-lead {
 text-align: center; 
 
}*/
.news-img {
  border:0.5em;
  border-radius: 0.5em;
  max-width: 70%;
}
.heading-and-para{
  display: inline-block;
  padding: 0 1em;
 
}
.heading{
  font-family: sans-serif;
}
.paragraph{
  font-family: serif;
  color: #fff;
}
.lastbutton{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;
  overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;
  cursor:pointer;
  white-space:nowrap;color:#fff!important;background-color:red;!important}

.lastlink{
  
  list-style-type:none; 
  margin-left:-1em;
}
.lastlink li { 
  display:inline;
  overflow: hidden;     
  padding-right:-1em;;
}

  .lastlink li a{
  color: white;
}

.active{
  color: yellow!important;
}
  .headingh1{
text-align: center;
}